importFrom(Biobase, selectSome)
importMethodsFrom(Biobase, sampleNames)
importClassFrom(S4Vectors, SimpleList)
importMethodsFrom(IRanges, "%in%")

exportClass("raggedVariantSet")

exportMethods("show", "sampleNames", 
  "variantGRanges")

export(getRVS, getrd, countVariants, variantNames, padToReference)
