import(methods)
import(BiocGenerics)
import(S4Vectors)
import(IRanges)
import(GenomicRanges)

importFrom(Biobase, selectSome)
importMethodsFrom(Biobase, sampleNames)
importMethodsFrom(S4Vectors, "%in%")
importClassFrom(S4Vectors, SimpleList)

exportClass("raggedVariantSet")

exportMethods("show", "sampleNames", 
  "variantGRanges")

export(getRVS, getrd, countVariants, variantNames, padToReference)
