importFrom(Biobase, selectSome)
importMethodsFrom(Biobase, sampleNames)
importMethodsFrom(IRanges, "%in%")
importClassFrom(IRanges, SimpleList)

exportClass("raggedVariantSet")

exportMethods("show", "sampleNames", 
  "variantGRanges")

export(getRVS, getrd, countVariants, variantNames)
